# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Logs
*.log
logs/

# Environment files (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production
.env.test
.env.example 

# Database
*.bak
*.mdf
*.ldf
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads / temp
uploads/
temp/
*_tmp.json
login_tmp.json

# Secrets
config/secrets/
credentials.json

# Local tooling
.claude/
